main {
  height: 100%;
  width: 100%;

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 6vw;
  user-select: none;
}

#zadani {
  font-size: 17vw;
  text-align: center;

  position: fixed;
  left: 0%;
  right: 0%;

  z-index: 100;
  pointer-events: none;
}

#zadani > span {
  margin: 0 0.1em;
}

#neznama {
  color: #00f;
  border-bottom: 0.5vw dashed #00f;
  display: inline-block;
  vertical-align: top;
  height: 20vw;
  width: 1.2em;
}

.neznama_wrapper {
  position: relative;
}

#correct {
  width: 34vw;
  height: 34vw;

  position: absolute;
  left: -4vw;
  top: 0vw;
}

#incorrect {
  width: 34vw;
  height: 34vw;

  position: absolute;
  left: -7vw;
  top: -5vw;
}

#tlacitka {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3vw;
  text-align: center;
}

#submit {
}

#delete {
}

#menu {
  position: fixed;
  top: 3vw;
  right: 3vw;
  background-color: transparent;
}

.icon {
  border: 0.1vw solid #333333;
  border-radius: 0.5vw;
  background-color: #dddddd;

  width: 7vw;
  height: 7vw;

  line-height: 6.5vw; /* center text vertically */
}

#message {
  position: absolute;
  left: 3vw;
  right: 13vw;
  bottom: 11vw;

  font-size: 3vw;
  color: #ff0000;
  text-align: center;
}

@media not screen and (orientation: portrait) and (max-width: 800px) {
  #zadani {
    top: calc((100%   - 3vw  - 7vw  - 3vw  - 17vw - 5vw) / 2);
         /*    screen top    button bottom font     megic  equal
               height margin height margin size     const  spacing */
  }

  #tlacitka span {
    display: inline-block;
    width: 7vw;
    margin: 0 0.5vw;
  }

  #submit {
    float: right;
    margin-right: 3vw;
  }

  #delete {
    right: 3vw;
    bottom: 12vw;
    position: fixed;
  }

  #menuScreen {
    position: relative; 
    width: 87vw;
    left: 0;
    top: 0;
    z-index: -100;
  }
}

@media screen and (orientation: portrait) and (max-width: 900px) {
  #zadani {
    top: calc((100%   - 72vmin   - 20vw - 3vw  - 18vw - 4vw) / 2);
         /*    screen top button button top    font     magic  equal    Note: "bottom margin" is included in the "button top"
               height bottom     height margin size     const  spacing */
  }
  
  #tlacitka span {
    width: 20vw;
    height: 20vw;
    bottom: 0;
    display: block;
    position: fixed;
    font-size: 16vw;
  }

  #tlacitka span:nth-child(1) {
    left: 17vw;
    transform: translate(0, -72vmin);
  }

  #tlacitka span:nth-child(2) {
    left: 40vw;
    transform: translate(0, -72vmin);
  }

  #tlacitka span:nth-child(3) {
    left: 63vw;
    transform: translate(0, -72vmin);
  }


  #tlacitka span:nth-child(4) {
    left: 17vw;
    transform: translate(0, -49vmin);
  }

  #tlacitka span:nth-child(5) {
    left: 40vw;
    transform: translate(0, -49vmin);
  }

  #tlacitka span:nth-child(6) {
    left: 63vw;
    transform: translate(0, -49vmin);
  }


  #tlacitka span:nth-child(7) {
    left: 17vw;
    transform: translate(0, -26vmin);
  }

  #tlacitka span:nth-child(8) {
    left: 40vw;
    transform: translate(0, -26vmin);
  }

  #tlacitka span:nth-child(9) {
    left: 63vw;
    transform: translate(0, -26vmin);
  }


  #tlacitka span:nth-child(10) {
    left: 40vw;
    transform: translate(0, -3vmin);
  }


  #submit {
    right: 3vw;
    bottom: 3vw;
    position: fixed;
  }

  #delete {
    left: 3vw;
    bottom: 3vw;
    position: fixed;
  }

  .icon {
    width: 20vw;
    height: 20vw;

    line-height: 18vw;
  }

  #message {
    left: 3vw;
    right: 3vw;
    bottom: 93vmin;
  }
}