main {
  height: 100%;
  width: 100%;

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 6vw;
  user-select: none;
}

#zadani {
  font-size: 17vw;
  text-align: center;

  position: fixed;
  left: 0%;
  right: 0%;

  z-index: 100;
  pointer-events: none;
}

#operator,
#rovnase {
  margin: 0 0.2em;
}

#neznama {
  color: #00f;
  border-bottom: 0.5vw dashed #00f;
  display: inline-block;
  vertical-align: top;
  height: 18vw;
  width: 1.2em;
}

#tlacitka {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3vw;
  text-align: center;
}

#submit {
}

#delete {
}

#menu {
  position: fixed;
  top: 3vw;
  right: 3vw;
  background-color: transparent;
}

.border {
  border: 0.1vw solid #333333;
  border-radius: 0.5vw;
  background-color: #dddddd;
}

.icon {
  border: 0.1vw solid #333333;
  border-radius: 0.5vw;
  background-color: #dddddd;
}

@media not screen and (orientation: portrait) and (max-width: 800px) {
  #zadani {
    top: calc((100%   - 3vw  - 7vw  - 3vw  - 17vw) / 2);
         /*    screen top    button bottom font      equal
               height margin height margin size      spacing */
  }

  #tlacitka span {
    display: inline-block;
    width: 7vw;
    margin: 0 0.5vw;
  }

  #submit {
    float: right;
    margin-right: 3vw;
  }

  #delete {
    right: 3vw;
    bottom: 12vw;
    position: fixed;
  }

  .icon {
    width: 7vw;
    height: 7vw;
  }

  #correct {
    width: 34vw;
    height: 34vw;
    position: fixed;
    left: 32vw;
    top: 4vw;
  }

  #incorrect {
    width: 34vw;
    height: 34vw;
    position: fixed;
    left: 28vw;
    top: -5vw;
  }

  #menuScreen {
    position: relative; 
    width: 87vw;
    left: 0;
    top: 0;
    z-index: -100;
  }

}

@media screen and (orientation: portrait) and (max-width: 800px) {
  main {
    font-size: 18vw;
  }

  #zadani {
    top: calc((100%   - 3vw  - 72vmin - 3vw  - 17vw) / 2);
         /*    screen top    button   bottom font      equal
               height margin top      margin size      spacing */
  }
  
  #tlacitka span {
    width: 20vw;
    height: 20vw;
    bottom: 0;
    display: block;
    position: fixed;
  }

  #tlacitka span:nth-child(1) {
    left: 17vw;
    transform: translate(0, -72vmin);
  }

  #tlacitka span:nth-child(2) {
    left: 40vw;
    transform: translate(0, -72vmin);
  }

  #tlacitka span:nth-child(3) {
    left: 63vw;
    transform: translate(0, -72vmin);
  }


  #tlacitka span:nth-child(4) {
    left: 17vw;
    transform: translate(0, -49vmin);
  }

  #tlacitka span:nth-child(5) {
    left: 40vw;
    transform: translate(0, -49vmin);
  }

  #tlacitka span:nth-child(6) {
    left: 63vw;
    transform: translate(0, -49vmin);
  }


  #tlacitka span:nth-child(7) {
    left: 17vw;
    transform: translate(0, -26vmin);
  }

  #tlacitka span:nth-child(8) {
    left: 40vw;
    transform: translate(0, -26vmin);
  }

  #tlacitka span:nth-child(9) {
    left: 63vw;
    transform: translate(0, -26vmin);
  }


  #tlacitka span:nth-child(10) {
    left: 40vw;
    transform: translate(0, -3vmin);
  }


  #submit {
    right: 3vw;
    bottom: 3vw;
    position: fixed;
  }

  #delete {
    left: 3vw;
    bottom: 3vw;
    position: fixed;
  }

  .icon {
    width: 20vw;
    height: 20vw;
  }

  #correct {
    width: 34vw;
    height: 34vw;
    position: fixed;
    left: 32vw;
    top: 40vw;
  }

  #incorrect {
    width: 34vw;
    height: 34vw;
    position: fixed;
    left: 28vw;
    top: 31vw;
  }

}